{% extends "base.html" %}
{% block title%} Blog listings {% endblock %}

{% block mainContent %}
	<div class="panel-heading content-heading">
		<h3 class="panel-title"><a href="#">Panel title </a><span class="author ti-user pull-right"> Obed Ademang</span></h3>
	</div>
	<div class="panel-body">
		<img class="text-wrap" data-src="holder.js/200x200">
		<p>Ubuntu smartphone offers alternative to apps By Leo Kelion The handset's operating system connects different services to create theme-based cards An Ubuntu-powered smartphone is coming to the market a year and a half after a previous attempt to launch a model via crowdfunding failed. Ubuntu smartphone offers alternative to apps By Leo Kelion The handset's operating system connects different services to create theme-based cards An Ubuntu-powered smartphone is coming to the market a year and a half after a previous attempt to launch a model via crowdfunding failed. The...</p>
		<a href="#" class="btn btn-default">Read more</a>
	</div>
	<div class="panel-footer">
		<b><i class="ti-time">&nbsp;12:00pm</i></b>&nbsp;&nbsp;&nbsp;
		<b>
			<i class="ti-bookmark-alt">&nbsp;</i>
			<a href="#">ubuntu</a>, <a href="#">mobile</a>
		</b>
	</div>
{% endblock %}
